form{
    border: 1px aqua;
    padding:20px;
    position:absolute;
    left: 50px;
    top: 100px;
    background-color: text-primary-emphasis;
    
}
.form-control{
    margin-bottom: 20px;
}
.form-select{
    margin-bottom: 20px;
}