#oleg{
    border: 1px solid aqua;
    padding:20px;
    position:absolute;
    left: 50px;
    top: 100px;
    background-color: yellow;
    
}
.form-control{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-select{
    margin-top: 20px;
    margin-bottom: 20px;
}